functionsDirectory = "/root/.openclaw/workspace/projects/ai-control-tower/netlify/functions"
functionsDirectoryOrigin = "config-v1"
redirectsOrigin = "config"
plugins = []
headers = []

[build]
publish = "/root/.openclaw/workspace/projects/ai-control-tower/public"
publishOrigin = "config"
base = "/root/.openclaw/workspace/projects/ai-control-tower"
functions = "/root/.openclaw/workspace/projects/ai-control-tower/netlify/functions"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]

[functions]

[functions."*"]

[[redirects]]
from = "/api/sessions"
to = "/.netlify/functions/sessions"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/api/sessions/:key/history"
to = "/.netlify/functions/session-history?key=:key"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200.0
force = false

[redirects.query]

[redirects.conditions]

[redirects.headers]