plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/root/.openclaw/workspace/projects/ai-control-tower"
publishOrigin = "config"
base = "/root/.openclaw/workspace/projects/ai-control-tower"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]